
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<div class="container">
  <form [formGroup]="storeIdForm" (ngSubmit)="getStockItems()">
    <div class="form-group">
      <label for="store-id"> StoreID </label>
      <input
        type="number"
        id="store-id"
        formControlName="storeId"
        class="form-control">
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>


<div class="container-fluid mt-5" *ngIf="stockItem">
  <h2 class="text-center">All the stock items for the store with the ID: {{storeIdForm.value.storeId}} </h2>
  <table class="table" >
    <thead>
      <tr>
        <th>id</th>
        <th>amount</th>
        <th>min-stock</th>
        <th>max-stock</th>
        <th>sale-price</th>
        <th>product-id</th>
        <th>store-id</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let si of stockItem">
        <td>{{si.id}}</td>
        <td>{{si.amount}}</td>
        <td>{{si.minStock}}</td>
        <td>{{si.maxStock}}</td>
        <td>{{si.salePrice}}</td>
        <td>{{si.productId}}</td>
        <td>{{si.storeId}}</td>
        <button type="button"  (click)="onChangePrice(si)" (click)="showModal=true" class="fas fa-edit mt-3 "></button>
      </tr>
    </tbody>
  </table>
</div>




<!-- Trigger the modal with a button -->
<!--button type="button" class="btn btn-info btn-lg" (click)="showModal=true" data-toggle="modal" data-target="#myModal">Open Modal</button-->


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" [ngClass]="{'show':showModal}">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 85%;">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">Modal Header</h4>
        <button type="button" class="close" (click)="showModal=false" data-dismiss="modal">&times;</button>
        
      </div>
      <div class="modal-body">
          <div class="container">
              <form [formGroup]="changePriceForm" (ngSubmit)="setStockItemPrice()">
                <div class="form-row">  
                  <div class="form-group col-md-1">
                    <label for="stockItemId"> id </label>
                    <input
                      type="number"
                      id="stockItemId"
                      readonly
                      formControlName="id"
                      class="form-control">
                  </div>
                  <div class="form-group col-md-1">  
                    <label for="stockIdemAmount"> amount </label>
                    <input
                      type="number"
                      id="stockIdemAmount"
                      readonly
                      formControlName="amount"
                      class="form-control">
                  </div>
                  <div class="form-group col-md-2">  
                    <label for="stockIdMinStock"> min-stock  </label>
                    <input
                      type="number"
                      id="stockIdMinStock"
                      readonly
                      formControlName="minStock"
                      class="form-control">
                  </div>
                  <div class="form-group col-md-2">  
                    <label for="stockIdMaxStock"> max-stock  </label>
                    <input
                      type="number"
                      id="stockIdMaxStock"
                      readonly
                      formControlName="maxStock"
                      class="form-control">
                  </div>
                  <div class="form-group col-md-2">  
                    <label for="stockIdSalePrice"> sale-price  </label>
                    <input
                      type="number"
                      id="stockIdSalePrice"
                      formControlName="salePrice"
                      class="form-control">
                  </div>
                  <div class="form-group col-md-2">  
                    <label for="stockIdProductId"> product-id  </label>
                    <input
                      type="number"
                      id="stockIdProductId"
                      readonly
                      formControlName="productid"
                      class="form-control">
                  </div>
                  <div class="form-group col-md-2">  
                    <label for="stockIdStoreId"> store-id  </label>
                    <input
                      type="number"
                      id="stockIdStoreId"
                      readonly
                      formControlName="storeid"
                      class="form-control">
                  </div>
                </div>
                <div align="right">  
                  <button class="btn btn-secondary" type="cancel" (click)="showModal=false" >Cancel</button>
                  <button class="btn btn-primary" type="submit" (click)="showModal=false"  (click)="changeStockItemPrice(changePriceForm.value.storeid, changePriceForm.value.id,formObjectToJson(changePriceForm))" >Save</button>
                </div>
              </form>
            </div>  
      </div>
      <!--div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="showModal=false" data-dismiss="modal">Close</button>
      </div-->
    </div>

  </div>
</div>