
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<div class="container">
  <form [formGroup]="storeIdForm" (ngSubmit)="getStockItems()">
    <div class="form-group">
      <label for="store-id"> StoreID </label>
      <input
        type="number"
        id="store-id"
        formControlName="storeId"
        class="form-control">
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>


<div class="container-fluid mt-5" *ngIf="stockItem">
  <h2 class="text-center">All the stock items for the store with the ID: {{storeId}} </h2>
  <table class="table" >
    <thead>
      <tr>
        <th>id</th>
        <th>amount</th>
        <th>min-stock</th>
        <th>max-stock</th>
        <th>sale-price</th>
        <th>product-id</th>
        <th>store-id</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let si of stockItem">
        <td>{{si.id}}</td>
        <td>{{si.amount}}</td>
        <td>{{si.minStock}}</td>
        <td>{{si.maxStock}}</td>
        <td>{{si.salePrice}}</td>
        <td>{{si.productId}}</td>
        <td>{{si.storeId}}</td>
        <button type="button" (click)="onChangePrice(si)" class="fas fa-edit mt-3 "></button>
      </tr>
    </tbody>
  </table>
</div>

